{% set title = "Пещера 2.0" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="main">
    <div class="container">

        <div class="main__floor-box">
            <h1 class="main__title">
                Выберите этаж:
            </h1>

            <div class="main__list">

            </div>

        </div>

        <div class="floor__map d-n">
            <!-- <div class="haka__box">

            </div> -->
        </div>
    </div>
</section>


{% endblock %}